* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
}
/* ESTILOS HEADER  */
.header {
  height: 50vh;
  background: rgb(79, 79, 82);
  background: linear-gradient(90deg, rgba(79, 79, 82, 1) 0%, rgba(16, 18, 18, 1) 98%);
  background-image: url(./images/aboutMeHeader.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-title-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-title {
  text-align: center;
  padding-top: 5.62rem;
  font-weight: normal;
  font-size: 2.87rem;
  color: white;
}
/* ESTILOS MAIN/ABOUTME */
.main-aboutMe {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 65px auto;
}
.main-aboutMe-title {
  text-align: center;
  margin-bottom: 40px;
  font-size: 22px;
}
.main-aboutMe-text {
  font-size: 14px;
  line-height: 26px;
}
/* ESTILOS MAIN */
.main-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 20px;
}
/* ESTILOS MAIN/EDUCACIÓN */
.main-education {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.main-education-title {
  text-align: center;
}
.education-list {
  list-style: none;
  margin-top: 15px;
}
.education-list-item {
  display: flex;
  justify-content: space-between;
}
.education-list-item-timeline {
  margin-right: 5px;
}
.education-list-line {
  border-bottom: solid 2px #9bd189;
  transform: rotate(180deg);
}
.education-list-item-title {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
}
.education-list-item-text {
  font-size: 14px;
  font-weight: normal;
  line-height: 26px;
}
.education-list-item-icon {
  width: 50px;
  height: auto;
}
.main-skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
/* ESTILOS GENÉRICOS */
.uppercase {
  text-transform: uppercase;
}
.linea-header {
  width: 10.25rem;
  height: 0.31rem;
  background-color: #9bd189;
  margin-top: 0.62rem;
}
.linea {
  width: 3.35rem;
  height: 0.31rem;
  background-color: #9bd189;
  margin-top: 0.62rem;
  align-self: center;
}
.bold {
  font-weight: bolder;
}
