* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}
/* ESTILOS HEADER */
.header {
  height: 100vh;
  background-image: url('./images/foto-slider@2x.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.header-titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 130px;
}
.header-logo {
  width: 238px;
  height: 150px;
}
.header-title {
  font-size: 80px;
  font-weight: normal;
  color: white;
  margin-top: 28px;
  letter-spacing: 9px;
}
.header-subtitle {
  font-size: 30px;
  font-weight: normal;
  color: white;
  margin-top: 28px;
  line-height: 1.07;
  letter-spacing: 17.9px;
}
.nav {
  width: 60%;
}
.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
  padding: 5px;
  cursor: pointer;
}
.nav-list-item:hover {
  border-bottom: #9bd189 solid 3px;
}
.nav-item-item-link {
  text-decoration-line: none;
  color: white;
}
/* ESTILOS ABOUT ME */
.aboutMe {
  height: 110vh;
  background-color: #f7f7f7;
}
.aboutMe-title-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aboutMe-title {
  text-align: center;
  padding-top: 90px;
  font-weight: normal;
  font-size: 30px;
}

.aboutMe-content {
  display: flex;
  justify-content: center;
  margin: 60px 135px;
}
.aboutMe-textContainer {
  width: 770px;
  margin-left: 30px;
  font-size: 14px;
  line-height: 26px;
}
.aboutMe-text {
  margin-bottom: 16px;
  text-align: justify;
}
.aboutMe-button {
  color: white;
  background-color: #9bd189;
  width: 180px;
  height: 50px;
  padding: 16px 25px;
  cursor: pointer;
}
/* ESTILOS WORKS */
.works {
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.works-title-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.works-title {
  text-align: center;
  padding-top: 90px;
  font-weight: normal;
  font-size: 30px;
}
.works-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(2, 280px);
  justify-content: center;
  margin: 16px 0px;
}
.work-list-item {
  background-color: #9bd189;
  color: white;
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.work-list-item-name {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
}
.work-list-item-subtitle {
  font-size: 14px;
  font-weight: 500;
  width: 85%;
  margin-bottom: 15px;
}
.work-list-item-btn {
  color: white;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
}
.work-list-item-btn:hover {
  font-size: 18px;
}
.works-button {
  color: white;
  background-color: #9bd189;
  width: 180px;
  height: 50px;
  padding: 16px 25px;
  cursor: pointer;
}
/* ESTILOS FOLLOW ME */
.followMe {
  background-color: #f7f7f7;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.followMe-title-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.followMe-title {
  text-align: center;
  padding-top: 90px;
  font-weight: normal;
  font-size: 30px;
}
.followMe-rrss {
  width: 40%;
  margin-top: 90px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.fab {
  font-size: 23px;
  color: black;
  align-self: center;
}

/* ESTILOS GENÉRICOS */
.bold {
  font-weight: bold;
}
.uppercase {
  text-transform: uppercase;
}
.linea {
  width: 100px;
  height: 5px;
  background-color: #9bd189;
  margin-top: 10px;
}
.btn-container {
  margin-top: 40px;
  text-align: center;
}

.icon-container:hover {
  display: flex;
  width: 56px;
  height: 56px;
  border: solid 1px #9bd189;
  border-radius: 56%;
  justify-content: center;
  align-items: center;
}

.icon-link:hover {
  border-radius: 50%;
  background: #9bd189;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  color: white;
  text-decoration: none;
}
.fab:hover {
  color: white;
}
