* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  scroll-behavior: smooth;
}
/* ESTILOS HEADER */
.header {
  height: 100vh;
  background-image: url('./images/foto-slider@2x.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.header-titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8.12rem;
}
.header-logo {
  width: 18.87rem;
  height: 9.37rem;
}
.header-title {
  font-size: 5rem;
  font-weight: normal;
  color: white;
  margin-top: 1.75rem;
  letter-spacing: 0.56rem;
}
.header-subtitle {
  font-size: 1.87rem;
  font-weight: normal;
  color: white;
  margin-top: 1.75rem;
  line-height: 1.07;
  letter-spacing: 1.125rem;
}
.nav {
  width: 70%;
  justify-content: center;
}
.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  font-size: 1.25rem;
  padding: 0.31rem;
  cursor: pointer;
}
.nav-item-item-link {
  text-decoration-line: none;
  color: white;
  border: 0.18rem solid transparent;
}
.nav-item-item-link:hover {
  border-bottom: 0.18rem solid #9bd189;
  color: white;
}
/* ESTILOS ABOUT ME */
.aboutMe {
  height: 100%;
  padding-bottom: 1.25rem;
  background-color: #f7f7f7;
}
.aboutMe-title-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aboutMe-subtitle-section {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
}
.aboutMe-title {
  text-align: center;
  padding-top: 2.62rem;
  font-weight: normal;
  font-size: 1.87rem;
}
.aboutMe-content {
  display: flex;
  justify-content: center;
  margin: 0.75rem 3.43rem;
}
.aboutMe-textContainer {
  width: 48.12rem;
  margin-left: 1.87rem;
  font-size: 0.87rem;
  line-height: 1.62rem;
}
.aboutMe-text {
  margin-bottom: 1rem;
  text-align: justify;
}
/* ESTILOS EXPERIENCIA PROFESIONAL */
.experience-item {
  display: flex;
  margin-bottom: 1rem;
  margin-top: 0.8rem;
}
.experience-list-item-timeline {
  margin-right: 0.93rem;
  margin-top: 0.2rem;
}
.experience-list-item-title {
  font-size: 0.87rem;
  font-weight: bold;
  margin-top: 0.5rem;
}
.experience-text {
  margin: 0;
}
/* ESTILOS WORKS */
.works {
  padding-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: -8.12rem;
}
.works-title-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.works-title {
  text-align: center;
  padding-top: 5.62rem;
  font-weight: normal;
  font-size: 1.87rem;
}
.works-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 15.75rem);
  grid-template-rows: repeat(3, 13.25rem);
  justify-content: center;
  margin: 4rem 0px;
  cursor: pointer;
}
.work-list-item {
  color: white;
  border: solid 0.06rem black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.work-list-item:nth-child(even) {
  background-image: url(../css/images/fotoC.jpg);
  background-size: cover;
  background-position: left;
  filter: grayscale(1);
  transition: all 1s ease;
}
.work-list-item:nth-child(odd) {
  background-image: url(../css/images/fotoD.jpg);
  background-size: cover;
  filter: grayscale(1);

  transition: all 1s ease;
}
.work-list-item:hover {
  transform: scale(1.01);
  filter: grayscale(0);

  text-decoration: none;
}
.work-list-item-link {
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.work-list-item-link:hover {
  color: white;
}
.work-list-item-name {
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 0.93rem;
}
.work-list-item-subtitle {
  font-size: 0.87rem;
  font-weight: 600;
  margin-bottom: 0.93rem;
  padding: 0.12rem;
  text-align: center;
}
.work-list-item-btn {
  color: white;
  font-weight: 500;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
  padding: 3px;
  border-radius: 0.12rem;
  border: none;
  background-color: transparent;
}
.work-list-item-btn:hover {
  font-size: 1.125rem;
}
.works-button {
  color: white;
  background-color: #9bd189;
  width: 11.25;
  height: 3.12rem;
  padding: 1rem 1.56rem;
  cursor: pointer;
}
/* ESTILOS FOLLOW ME */
.followMe {
  background-color: #f7f7f7;
  padding-bottom: 9.37rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.followMe-title-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.followMe-title {
  text-align: center;
  padding-top: 5.62rem;
  font-weight: normal;
  font-size: 1.87rem;
}
.followMe-rrss {
  width: 40%;
  margin-top: 5.62rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.fab {
  font-size: 2rem;
  color: black;
  align-self: center;
}
.icon-container {
  display: flex;
  width: 3.5rem;
  height: 3.5rem;
  border: solid 0.06rem transparent;
  border-radius: 56%;
  justify-content: center;
  align-items: center;
}
.icon-link {
  border-radius: 50%;
  background: transparent;
  width: 2.81rem;
  height: 2.81rem;
  display: flex;
  justify-content: center;
  color: white;
  text-decoration: none;
}
.icon-container:hover {
  border: solid 0.06rem #9bd189;
}

.icon-link:hover {
  background: #9bd189;
}
.fab:hover {
  color: white;
}
/* ESTILOS CONTATO */
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-title-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-title {
  text-align: center;
  padding-top: 5.62rem;
  font-weight: normal;
  font-size: 1.87rem;
}
.contact-subtitle {
  margin-top: 2.5rem;
}
.form-btn {
  color: white;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
}
/* FORM */
.form {
  margin-top: 3.43rem;
  display: flex;
  flex-direction: column;
  width: 36.12rem;
}
.form-input {
  height: 3.12rem;
  margin-bottom: 1rem;
  border: 0.06rem solid #9bd189;
}
.form-textarea {
  height: 8.75rem;
  border: 0.06rem solid #9bd189;
  display: block;
}
.form-submitsection {
  display: flex;
  justify-content: space-between;
  width: 36.25rem;
  margin-top: 1.87rem;
  margin-bottom: 6.25rem;
}
.form-text {
  font-size: 0.87rem;
  font-weight: 200;
}
/* ESTILOS FOOTER */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #303030;
  width: 100%;
  height: 10rem;
  scroll-behavior: smooth;
}
.fas {
  color: #adadad;
  width: 1rem;
  height: 1rem;
}
.footer-logo {
  width: 4.87rem;
  height: 3.12rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}
.footer-small {
  color: #adadad;
  font-size: 0.75rem;
}
/* ESTILOS GENÉRICOS */
.bold {
  font-weight: bold;
}
.uppercase {
  text-transform: uppercase;
}
.linea {
  width: 6.25rem;
  height: 0.31rem;
  background-color: #9bd189;
  margin-top: 0.62rem;
}
.linea-subtitle {
  width: 6.25rem;
  height: 0.21rem;
  background-color: #9bd189;
  margin-top: 0.12rem;
}
.btn {
  color: white;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
  background-color: #9bd189;
  border: solid 0.12rem transparent;
  padding: 1rem 2.5rem;
}
.btn:hover {
  border: solid 0.12rem #83af74;
  color: #6c925f;
}
.btn-container {
  margin-top: -0.5rem;
  text-align: center;
}
/* VENTANA MODAL */
.modal-content {
  width: 90%;
  margin-top: 12.5rem;
  padding: 0.8rem;
}
.modal-header {
  justify-content: center;
}
.modal-title {
  font-size: 1.5rem;
}
.modal-body {
  align-self: center;
}
.modal-description {
  margin-left: 0.61rem;
}
.modal-languajes {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-left: -20px;
  width: 300px;
}
.modal-languajes-item {
  font-size: 16px;
  border: solid #83af74 2px;
  color: #83af74;
  border-radius: 3px;
  font-weight: 600;
  height: 36px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-right: 8px;
}
.modal-footer {
  justify-content: space-around;
}
.modalBtn-container {
  display: flex;
  justify-content: space-around;
  width: 300px;
}
.btn-modal {
  color: white;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
  background-color: #9bd189;
  border: solid 0.12rem transparent;
  border-radius: 2px;
  padding: 0.2rem 0.2rem;
  margin-top: 10px;
}
.btn-modal:hover {
  color: #6c925f;
  border: solid 0.12rem #83af74;
}
.cart-icon {
  width: 0.75rem;
}

/* MEDIA QUERIES */

@media (max-width: 1200px) {
  .header-logo {
    width: 15rem;
    height: 8rem;
  }
  .header-title {
    font-size: 3rem;
  }
}
@media (max-width: 900px) {
  .header-subtitle {
    font-size: 1rem;
    text-align: center;
    margin-right: 15%;
  }
  .nav {
    margin-right: 15%;
  }
  .nav-list {
    font-size: 1rem;
  }
  .aboutMe-title {
    font-size: 1.5rem;
  }
  .linea {
    margin-top: 0;
  }
  .aboutMe-imgContainer {
    width: 300px;
    height: auto;
  }
  .aboutMe-textContainer {
    font-size: 0.75rem;
  }
  .aboutMe-subtitle-section {
    font-size: 1.12rem;
  }
  .btn {
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
  }
  .works {
    margin-bottom: 2.12rem;
  }
  .works-list {
    grid-template-columns: repeat(3, 13rem);
    grid-template-rows: repeat(2, 12rem);
  }
  .work-list-item-name {
    font-size: 0.8rem;
  }
  .form {
    width: 80%;
  }
  .form-submitsection {
    width: 90%;
  }
}
@media (max-width: 780px) {
  .aboutMe-imgContainer {
    width: 200px;
    height: auto;
  }
}
@media (max-width: 678px) {
  .aboutMe-content {
    flex-direction: column;
    align-items: center;
    margin: 2rem;
  }
  .header-logo {
    width: 12rem;
    height: 6rem;
  }
  .header-title {
    font-size: 2rem;
  }
  .header-subtitle {
    font-size: 1rem;
    letter-spacing: 0.65rem;
  }
  .nav-list {
    font-size: 0.85rem;
  }
  .aboutMe-title {
    font-size: 1.5rem;
  }
  .works-title {
    font-size: 1.5rem;
  }
  .works-list {
    grid-template-columns: repeat(3, 11rem);
    grid-template-rows: repeat(2, 10rem);
  }
  .work-list-item-name {
    font-size: 0.8rem;
  }
  .work-list-item-subtitle {
    font-size: 0.69rem;
  }
  .followMe-title {
    font-size: 1.5rem;
  }
  .contact-title {
    font-size: 1.5rem;
  }
}
@media (max-width: 595px) {
  .header {
    width: 120vw;
    background-position: center;
  }
  .header-logo {
    width: 10rem;
    height: 7rem;
  }
  .header-title {
    font-size: 1.6rem;
  }
  .nav {
    width: 100%;
  }
  .nav-list {
    font-size: 0.8rem;
  }
  .aboutMe {
    width: 120vw;
  }
  .aboutMe-content {
    flex-direction: column;
    align-items: center;
    margin: 2rem;
  }
  .aboutMe-textContainer {
    width: 20rem;
    margin-left: -1.13rem;
    font-size: 0.8rem;
    line-height: 1.42rem;
  }
  .works {
    width: 120vw;
  }
  .works-list {
    grid-template-columns: repeat(2, 9rem);
    grid-template-rows: repeat(3, 9rem);
  }
  .work-list-item:nth-child(1) {
    background-image: url(../css/images/fotoA.jpg);
  }
  .work-list-item:nth-child(2) {
    background-image: url(../css/images/fotoC.jpg);
  }
  .work-list-item:nth-child(3) {
    background-image: url(../css/images/fotoC.jpg);
  }
  .work-list-item:nth-child(4) {
    background-image: url(../css/images/fotoA.jpg);
  }
  .work-list-item:nth-child(5) {
    background-image: url(../css/images/fotoA.jpg);
  }
  .work-list-item:nth-child(6) {
    background-image: url(../css/images/fotoC.jpg);
  }
  .followMe {
    width: 120vw;
  }
  .contact {
    width: 120vw;
  }
  .contact-subtitle {
    font-size: 0.84rem;
  }
  .form {
    width: 80%;
  }
  .form-text {
    font-size: 0.6rem;
    margin-right: 1rem;
  }
  .footer {
    width: 120vw;
    height: 4.5rem;
  }
  .footer-logo {
    width: 2rem;
    height: auto;
    margin: 0.4rem;
  }
}
