* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.works {
  background-color: #9bd189;
  width: 100vw;
  height: 100vh;
  color: white;
  font-family: Raleway;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.works-icon {
  margin-top: 50px;
  color: white;
  font-size: 40px;
  animation: 10s infinite alternate icon;
}
@keyframes icon {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
